* {
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

body{
	background-color: #ffffff;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	
	
}
a{
    text-decoration: none;
    color: black;
    &:hover{
        color:blueviolet;
    }
}

// a.button{
// 		@include link-style($primary-fcolor, $sec-fcolor);	
// }



.error {
	color: red;
}
.hide{
	display: none;
}